            @import url('https://fonts.googleapis.com/css?family=Pacifico');
            .bgimg {
                background-image: url("back.jpg");
                
            }
            .bgimg{
                position: relative;
                background-position: center;
                background-repeat: repeat;
                background-size: cover;
            }
            body,html {
                margin: 0%;
                padding: 0%;
                height: 100%;
            }
            #pro {
                border-radius: 50%;
                height: 6cm;
                width: 6cm;
                display: block;
                margin: auto;
                margin-top: 3%;
            }
            
            #hello {
                color: black;
                font-family: 'Pacifico', cursive;
                text-align: center;
            }
            
            #name {
                color: black;
                text-align: center;
            }
            
            #tech {
                color: black;
                text-align: center;
            }
            
            #connect {
                color: black;
                text-align: center;
            }
            
            #link {
                size: 48dp;
            }
            
            #contact {
                color: black;
                text-align: center;
            }
            img{
                position: relative;
            }
            .contain{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
